#containerDiv{
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    flex: 1;
    align-content: stretch;
}
#gridBtnContainer{
    text-align: center;
}
.buttons{
    margin: 10px
}